h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.letra{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url('https://arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/XHLVXL32RBFZLIDG22A3TQAPIE.png');
    background-repeat:repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center
}

.imgForm2 {
    border-radius: 1%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
    width: 50%;
    float:left;
    height:50%
}

.conteiner{
    font-size:large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.mb-1{
    width: 300px;
    height: 90px;
}
.form-label {
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.form-control {
    width: 70%
}




